{{ partial "head.html" . }}
   <body>
      {{ partial "nav.html" . }}
      {{ partial "profile.html" . }}


       <section id="wrapper" class="tags">
           <div class="page-tags">
               <ul>
                  {{ $data := .Data }}
                  {{ range $key, $value := $data.Terms.ByCount }}
                     {{ if ($value.Name) }}
                        <li>
                           <a href="{{ $.Site.BaseURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}">
                              {{ $value.Name }} ({{ $value.Count }})
                           </a>
                        </li>
                     {{ end }}
                  {{ end }}
              </ul>
           </div>
           {{ partial "footer.html" . }}
       </section>

       {{ partial "js.html" . }}
   </body>
</html>
